In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_parquet('data/BMTC.parquet.gzip', engine='pyarrow')  # Speeds @ (loc & time)
dfInput = pd.read_csv('data/Input.csv')                           # Input DF
dfGroundTruth = pd.read_csv('data/GroundTruth.csv')               # Corresponding Timetaken (O/P)
df

             BusID   Latitude  Longitude  Speed           Timestamp
0        150212121  13.074558  77.445549    0.0 2019-08-01 07:00:02
1        150212121  13.074558  77.445549    0.0 2019-08-01 07:00:12
2        150212121  13.074558  77.445549    0.0 2019-08-01 07:00:22
3        150212121  13.074558  77.445549    0.0 2019-08-01 07:00:32
4        150212121  13.074558  77.445549    0.0 2019-08-01 07:00:42
...            ...        ...        ...    ...                 ...
6014941  150813395  13.097612  77.565689   30.0 2019-08-01 18:59:20
6014942  150813395  13.097538  77.564873   34.0 2019-08-01 18:59:30
6014943  150813395  13.097462  77.564049   38.0 2019-08-01 18:59:40
6014944  150813395  13.097604  77.563217   21.0 2019-08-01 18:59:50
6014945  150813395  13.097601  77.563103    0.0 2019-08-01 19:00:00

[6014946 rows x 5 columns]

In [5]:
dfInput = dfInput.loc[:, ~dfInput.columns.str.contains('^Unnamed')]
dfInput

      Source_Lat  Source_Long   Dest_Lat  Dest_Long
0      12.941644    77.557335  12.942002  77.551605
1      12.845487    77.662079  12.845881  77.667892
2      12.973492    77.622871  12.957303  77.621246
3      12.819298    77.688995  12.814241  77.692986
4      12.973240    77.615402  13.016170  77.627800
...          ...          ...        ...        ...
1200   13.097792    77.591736  13.154475  77.568077
1201   12.794702    77.624046  12.863790  77.616608
1202   12.922270    77.743591  12.983501  77.752258
1203   12.918303    77.589500  12.923568  77.655655
1204   12.984523    77.600754  13.083735  77.560806

[1205 rows x 4 columns]

In [6]:
dfGroundTruth = dfGroundTruth.loc[:, ~dfGroundTruth.columns.str.contains('^Unnamed')]
dfGroundTruth

             TT
0      2.833333
1      1.500000
2     21.250000
3      2.000000
4     35.733333
...         ...
1200  27.233333
1201  26.750000
1202  53.600000
1203  59.616667
1204  59.816667

[1205 rows x 1 columns]

In [7]:
df_combined = pd.concat([dfInput, dfGroundTruth], axis=1)
df_combined

      Source_Lat  Source_Long   Dest_Lat  Dest_Long         TT
0      12.941644    77.557335  12.942002  77.551605   2.833333
1      12.845487    77.662079  12.845881  77.667892   1.500000
2      12.973492    77.622871  12.957303  77.621246  21.250000
3      12.819298    77.688995  12.814241  77.692986   2.000000
4      12.973240    77.615402  13.016170  77.627800  35.733333
...          ...          ...        ...        ...        ...
1200   13.097792    77.591736  13.154475  77.568077  27.233333
1201   12.794702    77.624046  12.863790  77.616608  26.750000
1202   12.922270    77.743591  12.983501  77.752258  53.600000
1203   12.918303    77.589500  12.923568  77.655655  59.616667
1204   12.984523    77.600754  13.083735  77.560806  59.816667

[1205 rows x 5 columns]